name: Build and deploy to ECR

on:
  push:
    branches:
      - main  # Trigger workflow on pushes to the main branch
  pull_request:
    branches:
      - main  # Trigger workflow on pull requests to the main branch

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Check out the repository
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
      # Step 2: Log in to Amazon ECR
      - name: Log in to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2

      # Step 3: Build the Docker image
      - name: Build Docker image
        run: |
          docker build -t graph-algorithms-the-fun-way:latest .
          docker tag my-app:latest ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.us-east-1.amazonaws.com/graph-algorithms-the-fun-way:latest

      # Step 4: Push the Docker image to ECR
      - name: Push Docker image to ECR
        run: |
          docker push  ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.us-east-1.amazonaws.com/graph-algorithms-the-fun-way:latest

      # Step 5: Optional - Notify Success
      - name: Notify Success
        run: echo "Docker image pushed to ECR successfully!"
